[Unit]
Description=DeID RNN Engine
After=network.target

[Service]
WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/start-rnn.sh
User=ec2-user
Restart=always
RestartSec=3
TimeoutStopSec=15
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=deid-rnn

[Install]
WantedBy=multi-user.target