<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <!-- Author:  Crunchify.com  -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%-p] %c{1}.%L: %msg%n" />
        </Console>
        <RollingFile name="RollingFile" filename="log/DeidLog.log" append="true"
                     filepattern="log/%d{YYYYMMddHHmmss}-DeidLog.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%-p] %c{1}.%L: %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>

            <DefaultRolloverStrategy max="20" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
